/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/*
!/vendor/laravel
/vendor/laravel/*
!/vendor/laravel/framework
/vendor/laravel/framework/*
!/vendor/laravel/framework/src
/vendor/laravel/framework/src/*
!/vendor/laravel/framework/src/Illuminate
/vendor/laravel/framework/src/Illuminate/*
!/vendor/laravel/framework/src/Illuminate/Auth
/vendor/laravel/framework/src/Illuminate/Auth/*
!/vendor/laravel/framework/src/Illuminate/Auth/Events
/vendor/laravel/framework/src/Illuminate/Auth/Events/*
!/vendor/laravel/framework/src/Illuminate/Auth/Events/CreateNewPassword.php
!/vendor/laravel/framework/src/Illuminate/Auth/Events/CreateNewPasswordLinkSent.php
!/vendor/laravel/framework/src/Illuminate/Auth/Notifications
!/vendor/laravel/framework/src/Illuminate/Auth/Passwords
!/vendor/laravel/framework/src/Illuminate/Contracts
/vendor/laravel/framework/src/Illuminate/Contracts/*
!/vendor/laravel/framework/src/Illuminate/Contracts/Auth
/vendor/laravel/framework/src/Illuminate/Contracts/Auth/*
!/vendor/laravel/framework/src/Illuminate/Contracts/Auth/CanResetPassword.php
!/vendor/laravel/framework/src/Illuminate/Contracts/Auth/PasswordBroker.php
!/vendor/laravel/framework/src/Illuminate/Translation
/vendor/laravel/framework/src/Illuminate/Translation/*
!/vendor/laravel/framework/src/Illuminate/Translation/lang/
/vendor/laravel/framework/src/Illuminate/Translation/lang/*
!/vendor/laravel/framework/src/Illuminate/Translation/lang/en
/vendor/laravel/framework/src/Illuminate/Translation/lang/en/*
!/vendor/laravel/framework/src/Illuminate/Translation/lang/en/passwords.php
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
